.content{
    width: 90%;
    margin: 1.4rem auto auto auto;
}

.title{
    text-align: center;
    margin-bottom: 3rem;
}

.title h1{
    font-size: 2rem;
    color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

button{
    margin-bottom: .8rem;
}

/*Tabela*/
.tabela { 
    width: 100%;
}

.livros{
    color: rgba(22, 105, 231, 0.822);
    margin-left: .6rem;
}

.editar{
    color: rgb(233, 196, 75)
}

.deletar{
    color: red;
}

.mat-header{
    width: 5rem;
}

