.home{
    width: 95%;
    margin: 1rem auto;
}

/*tamanho da tela celular*/
@media (max-width: 450px){
    .home{
        width: 70%;
    }
}

/*tamanho da tela tablet*/
@media (max-width: 770px){
    .home{
        width: 90%;
    }
}